* {
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif !important;
    font-style: normal !important;
}

body {
    background-image: url(../source/arena.jpg);
    background-size: 100%;
}

